<script>
    import { params } from '@roxi/routify'
    import {messages} from './messages';

    export let slug;
    var message_id = $params.slug 
</script>


<div class="panel block !p-6 !cursor-default mb-3">
    <div class="text-xl font-bold mb-3">{messages[message_id].title}</div>
    <hr class="my-3 mb-4 border-black border-opacity-15">

    <div>{messages[message_id].content}</div>
</div>
<div class="text-right">
    <a href="/app/account/messages">Go back to <span class="font-bold">Messages</span></a>
</div>