<script>
    import { getVehicleInfo, setPowerStatus, getVehicleStatus } from '@components/api/vehicle';
    let Vehicle = getVehicleInfo()
    
    let VehicleStatus = getVehicleStatus();
</script>

<div class="m-8 mt-0">
    <h1 class="text-white">More</h1>
    <hr class="my-3 mb-8 border-white border-opacity-25">

    {#await Vehicle then vehicle}
        {#if vehicle.vehicle.vehicleStatus.tirePressureWarning}
            <div class="panel col-span-4">
                <div class="panel-icon warning inline-block float-right">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"><path fill="none" d="M0 0H24V24H0z"/><path d="M11 2.05v3.02C7.608 5.557 5 8.475 5 12c0 3.866 3.134 7 7 7 1.572 0 3.024-.518 4.192-1.394l2.137 2.137C16.605 21.153 14.4 22 12 22 6.477 22 2 17.523 2 12c0-5.185 3.947-9.449 9-9.95zM21.95 13c-.2 2.011-.994 3.847-2.207 5.328l-2.137-2.136c.687-.916 1.153-2.006 1.323-3.192h3.022zM13.002 2.05c4.724.469 8.48 4.226 8.95 8.95h-3.022c-.438-3.065-2.863-5.49-5.928-5.929V2.049z"/></svg>                </div>
                <div class="py-2 font-bold text-xl inline-block">Tire pressure warning</div>
                <div class="py-2">One of your tires has lower than normal pressure.</div>
            </div>
        {:else}
            <div class="panel col-span-4">
                <div class="panel-icon inline-block float-right">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"><path fill="none" d="M0 0H24V24H0z"/><path d="M11 2.05v3.02C7.608 5.557 5 8.475 5 12c0 3.866 3.134 7 7 7 1.572 0 3.024-.518 4.192-1.394l2.137 2.137C16.605 21.153 14.4 22 12 22 6.477 22 2 17.523 2 12c0-5.185 3.947-9.449 9-9.95zM21.95 13c-.2 2.011-.994 3.847-2.207 5.328l-2.137-2.136c.687-.916 1.153-2.006 1.323-3.192h3.022zM13.002 2.05c4.724.469 8.48 4.226 8.95 8.95h-3.022c-.438-3.065-2.863-5.49-5.928-5.929V2.049z"/></svg>                </div>
                <div class="py-2 font-bold text-xl inline-block">Tire pressure</div>
                <div class="py-2">No pressure warnings from your tire sensors have been detected.</div>
            </div>
        {/if}
    {/await}
    
</div>