<script>
    import {init, reset} from '@components/api/user'
    import { goto } from '@roxi/routify'

    function logout() {
        reset();
        $goto('./login');
    }
</script>

<div class="hidden">
    {logout()}
</div>