<script>
    import {goto, url} from '@roxi/routify'
    import { getAccessToken } from '@components/api/user';
    import { getVehicleInfo, getVehicleImage} from '@components/api/vehicle';
    import Header from '@components/Header.svelte';

    var Token = getAccessToken();
    var Vehicle = getVehicleInfo();

    var VehicleImage;

</script>

    <Header />

    {JSON.stringify(Token)}



<a href="{$url('/app/index')}">Index</a>
