<script>
    import {goto, url, params} from '@roxi/routify'
    import { getAccessToken, getToken, init } from '@components/api/user';
    import { getVehicleInfo, getVehicleImage} from '@components/api/vehicle';
    import { setStorageToken, getStorageToken} from '@components/api/storage';
    import Header from '@components/Header.svelte';
    import {onMount} from 'svelte'

    var Token;
    var Vehicle;
    var VehicleImage;
    var Loaded = false;
    var LoadedFunction;

    onMount(() => {
        function getValues() {
            console.log("[CheckExpires] :: Starting")
            async function CheckExpires() {
                Token = await getAccessToken();
                var first_load = await getStorageToken('init');
                console.log("Y@@@@@@@@", first_load)

                if (Token.expires_on === null) {
                    console.log("Nothing to expire.")
                    return CheckExpires();
                } else {
                    console.log("Expires on");
                    Vehicle = await getVehicleInfo();
                    VehicleImage = await getVehicleImage();
                    Loaded = true;
                    
                    if (first_load === "true") {
                        console.log("YOOOOOOOOOOOO", first_load)
                        var setLoad = await setStorageToken('init', "false")
                        if (setLoad.value == "false") {
                            window.location.reload();
                        }
                    } else {
                        $goto('./terms')
                    }

                    return 'success';
                }
            }

            var ExpiresValue = CheckExpires();
            console.log("[ExpiresValue]", ExpiresValue)

            return ExpiresValue;
        } 
        LoadedFunction =  getValues();
    });
    

</script>

<div class="my-40 text-center text-white">
    <h1>Loading...</h1>
</div>

<div class="hidden">
    <Header />
    <p>Test</p>

    {JSON.stringify(LoadedFunction)}
    <p>
    Loaded: {Loaded}
    </p>
    <a href="{$url('/app/index')}">Index</a>
    <a href="/auth/setup/loading">Refresh</a>
    <hr>
    {#if Loaded}
    <a href="./loading-2">Loading</a>

    {/if}
    <hr>

    <hr>

    <button on:click={() => {window.location.reload()}}>Refresh</button> 
</div>