<script>
  import {currentBg, userBg}  from '@store/store'
  import { beforeUrlChange, isChangingPage } from "@roxi/routify"

  import Nav from '@components/Nav.svelte'

  // By Default all pages will have the current background set to the user background (userBg)
  function resetBg() {
    console.log("Resetting Background");
    $currentBg = $userBg;
  }
</script>

{#if $isChangingPage}
  <div class="hidden">{resetBg()}</div>
{/if}

<slot>
  <!-- pages in this folder and subfolders
  will be rendered here -->
</slot>

<div class="background" style="--background: {$currentBg}">
    <div class="bg-image"></div>
    <div class="overlay"></div>
</div>

<style>
      .background {
        position: fixed;
        z-index: -1;
        height: 110%;
        width: 110%;
        top: -2.5%;
        left: -2.5%;
    }

    .background .overlay {
        height: 100%;
        width: 100%;
        background: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.5));
    }

    .background .bg-image {
        -webkit-filter: blur(6px); 
        -moz-filter: blur(6px); 
        filter: blur(10px); /* TODO: Change blur depending on angle of device */
        background: var(--background);
        background-size: cover;
        height: 100%;
        width: 100%;
    }

</style>