<script>
    import { afterPageLoad, goto } from "@roxi/routify"
    import {checkAccess} from '@components/api/user'

    async function check_access() {
        var current_access = await checkAccess();

        if(current_access){
            $goto('./app/index')
        } else {
            $goto('/auth/login')
        }
    };
    
</script>

<div class="hidden">
    <h1>Checking...</h1>

    {check_access()}
</div>