body {
	background: linear-gradient(160deg, #fff 10%, #c7e4f7);
	 background: #edf1fa;
	font-family: 'Poppins', sans-serif;
	color: #222;
	width: 100%;
	margin-bottom: 250px;
	overflow-y: scroll;
	-ms-overflow-style: none;  /* IE and Edge */
  	scrollbar-width: none;  /* Firefox */
}

body::-webkit-scrollbar {
  display: none;
}

.app {
	max-width: 800px;
	margin: 0 auto;
}

:root {
	--ford-blue: rgb(19, 58, 124);
}


h1 {
	display: block;
	font-size: 2em;
	font-weight: bold;
	margin-bottom: .2rem;
}

h2,{
	display: block;
	font-size: 1.5em;
	font-weight: bold;
	margin-bottom: .2rem;
}

h3 {
	display: block;
	font-size: 1.17em;
	font-weight: bold;
	margin-bottom: .2rem;
}

h4 {
	display: block;
	font-size: 1.00em;
	font-weight: bold;
	margin-bottom: .2rem;
}

* {
	 -webkit-tap-highlight-color: transparent;
}

.section-title {
	@apply block text-3xl font-bold col-span-4 text-white mt-3.5 mb-0 
}

.section-title:first-of-type {
	@apply mt-0;
}

.panel {
	transition: background 0.35s ease-out, border .6s;
	background: linear-gradient(rgba(255, 255, 255, 0.8), white 150px);
	@apply text-black px-4 py-4 rounded-xl shadow-light-500 cursor-pointer shadow overflow-hidden relative break-words;
}

.panel .panel-icon svg{
	display: inline-block;
	fill: #000;
	width: 40px;
	height: 40px;
}

.panel .panel-icon .toggle-pill {
	background: rgba(0,0,0,0.15);
	width: 45px;
	height: 17px;
	border-radius: 8px;
	float: right;
	opacity: 0.75
}

.panel .panel-icon .toggle-pill:after {
	content: " ";
	background: #111;
	box-shadow:0px 0px 2px 2px rgba(255, 255, 255, 0.1);
	height:20px;
	width: 20px;
	float: left;
	border-radius: 50%;
	transform: scale(1.1);
	transition: all 0.3s;
	margin-top: -2px;
}

.panel.active .panel-icon .toggle-pill {
	background: rgba(255,255,255,0.2);
	opacity: 1;
}

.panel.active .panel-icon .toggle-pill:after {
	background: #fff;
	float: right;
}

.panel.active {
	transition: background 0.35s ease-out, border .6s;
	background: var(--ford-blue);
	@apply text-white font-bold;
}


.panel.active svg {
	fill: #fff;
}

.panel .button {
	@apply inline-block rounded-xl px-3 py-5
}
.panel .button.active {
	@apply bg-ford text-white font-bold;
}

.panel .warning svg {
	@apply fill-red-600
}

.bg-ford-blue {
	background: var(--ford-blue);
}

.text-ford-blue {
	color: var(--ford-blue);
}

svg {
	display: inline-block;
}