<script>
    export let width;
    import { url } from '@roxi/routify'

    var menuItems = [
        {
            title: "Home",
            icon: '<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"><path fill="none" d="M0 0h24v24H0z"/><path d="M19 21H5a1 1 0 0 1-1-1v-9H1l10.327-9.388a1 1 0 0 1 1.346 0L23 11h-3v9a1 1 0 0 1-1 1zm-6-2h5V9.157l-6-5.454-6 5.454V19h5v-6h2v6z"/></svg>',
            uri: '/app/index',
            color: '#fff'
            
        }, {
            title: "Messages",
            icon: '<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"><path fill="none" d="M0 0h24v24H0z"/><path d="M6.455 19L2 22.5V4a1 1 0 0 1 1-1h18a1 1 0 0 1 1 1v14a1 1 0 0 1-1 1H6.455zm-.692-2H20V5H4v13.385L5.763 17zM8 10h8v2H8v-2z"/></svg>',
            uri: '/app/account/messages',
            color: '#fff'
            
        }, {
            title: 'Location',
            icon: '<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"><path fill="none" d="M0 0h24v24H0z"/><path d="M12 23.728l-6.364-6.364a9 9 0 1 1 12.728 0L12 23.728zm4.95-7.778a7 7 0 1 0-9.9 0L12 20.9l4.95-4.95zM12 13a2 2 0 1 1 0-4 2 2 0 0 1 0 4z"/></svg>',
            uri: '/app/pages/location',
            color: '#fff'
        }, {
            title: 'Test',
            icon: '<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"><path fill="none" d="M0 0H24V24H0z"/><path d="M16 2v2h-1v3.243c0 1.158.251 2.301.736 3.352l4.282 9.276c.347.753.018 1.644-.734 1.99-.197.092-.411.139-.628.139H5.344c-.828 0-1.5-.672-1.5-1.5 0-.217.047-.432.138-.629l4.282-9.276C8.749 9.545 9 8.401 9 7.243V4H8V2h8zm-2.612 8.001h-2.776c-.104.363-.23.721-.374 1.071l-.158.361L6.125 20h11.749l-3.954-8.567c-.214-.464-.392-.943-.532-1.432zM11 7.243c0 .253-.01.506-.029.758h2.058c-.01-.121-.016-.242-.021-.364L13 7.243V4h-2v3.243z"/></svg>',
            uri: '/app/pages/test',
            color: '#fff'
        }
    ]
</script>
<div class="bg-overlay"></div>
    <div class="menu" style="max-width: {width}">
        <div class="menuButtons">
            {#each menuItems as item}
                <a href={$url(item.uri)} class="module block text-xl my-5">
                        <span class="module-icon inline-block mr-3 align-middle">
                            <svg class="hidden"></svg> <!--- To Force WindiCSS to create the class-->
                            {@html item.icon}
                        </span>
                        <span class="title inline-block py-3">{item.title}</span>
                </a>
            {/each}
        </div>
        <div class="menuList border-t mt-8">
            <a href="/auth/logout">Logout</a>
        </div>
        <div class="colo border-t mt-0 pt-6">
        <a href={$url('/app/account/legal/credits')}>Credits</a>
        <a href={$url('/app/account/legal/tos')}>Terms of Service</a>
        <a href={$url('/app/account/legal/privacy')}>Privacy Policy</a>
        </div>
    </div>
<style>
    .menu {
        width: 100%;
        height: 100%;
        overflow-y: scroll;
        @apply p-6 pt-0;
       /* background: linear-gradient(rgba(255, 255, 255, 0.8), white 150px); */

    }

    .menu .menuList a {
        @apply py-2 my-6 block text-xl;
    }

    .menu .menuButtons {
        @apply mt-8;
    }
    svg {
        height: 30px;
        width: 30px;
    }

    .colo a {
        @apply text-sm inline-block mr-3
    }
</style>