<script>
import { isActive, url } from '@roxi/routify'

 var menuItems = [
        {
            title: "Home",
            icon: '<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"><path fill="none" d="M0 0h24v24H0z"/><path d="M19 21H5a1 1 0 0 1-1-1v-9H1l10.327-9.388a1 1 0 0 1 1.346 0L23 11h-3v9a1 1 0 0 1-1 1zm-6-2h5V9.157l-6-5.454-6 5.454V19h5v-6h2v6z"/></svg>',
            uri: '/app/index',
            color: '#fff'
            
        }, {
            title: "Messages",
            icon: '<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"><path fill="none" d="M0 0h24v24H0z"/><path d="M6.455 19L2 22.5V4a1 1 0 0 1 1-1h18a1 1 0 0 1 1 1v14a1 1 0 0 1-1 1H6.455zm-.692-2H20V5H4v13.385L5.763 17zM8 10h8v2H8v-2z"/></svg>',
            uri: '/app/account/messages',
            color: '#fff'
            
        }, {
            title: 'Location',
            icon: '<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"><path fill="none" d="M0 0h24v24H0z"/><path d="M12 23.728l-6.364-6.364a9 9 0 1 1 12.728 0L12 23.728zm4.95-7.778a7 7 0 1 0-9.9 0L12 20.9l4.95-4.95zM12 13a2 2 0 1 1 0-4 2 2 0 0 1 0 4z"/></svg>',
            uri: '/app/pages/location',
            color: '#fff'
        }, {
            title: 'Test',
            icon: '<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"><path fill="none" d="M0 0H24V24H0z"/><path d="M16 2v2h-1v3.243c0 1.158.251 2.301.736 3.352l4.282 9.276c.347.753.018 1.644-.734 1.99-.197.092-.411.139-.628.139H5.344c-.828 0-1.5-.672-1.5-1.5 0-.217.047-.432.138-.629l4.282-9.276C8.749 9.545 9 8.401 9 7.243V4H8V2h8zm-2.612 8.001h-2.776c-.104.363-.23.721-.374 1.071l-.158.361L6.125 20h11.749l-3.954-8.567c-.214-.464-.392-.943-.532-1.432zM11 7.243c0 .253-.01.506-.029.758h2.058c-.01-.121-.016-.242-.021-.364L13 7.243V4h-2v3.243z"/></svg>',
            uri: '/app/pages/test',
            color: '#fff'
        }
    ];

</script>

<div class="navbar">
    {#each menuItems as item}
        <a href={$url(item.uri)}  class:active="{$isActive(item.uri)}">
                {@html item.icon}
        </a>
    {/each}

</div>
<style>
    .navbar {
        border: none;
    	background: linear-gradient(90deg, rgba(255, 255, 255, 0.95), white 100px, rgba(255, 255, 255, 0.95));
        height: 60px;
        width: calc(100%);
        border-radius: 10px 10px 0 0;
        z-index: 999;
        @apply fixed bottom-0 left-0 text-center grid grid-flow-col auto-cols-auto shadow-lg
    }

    .navbar a {
        @apply p-4
    }

    .navbar a svg {
        display: inline-block;
    }

    .navbar .voice-btn {
        padding: 0;
        margin-top: -30px;
    }
    .navbar .voice-btn .voice-holder {
        display: inline-block;
        padding: 25px;
        border-radius: 50%;
        width: 90px;
        height: 85px;
        background: linear-gradient(168deg, #1c83c4, var(--ford-blue));
        fill: #fff;
        @apply shadow-lg
    }

    .navbar .voice-btn .voice-holder svg {
        margin-left: -2px;
        margin-top: -6px;
    }

</style>
