<div class="page">

    <h1>Credits</h1>
    <hr class="my-3 mb-12 border-white border-opacity-25">

    <h2>Images</h2>
    <p>"Brown mountain under sky" by <a href="https://unsplash.com/@fastturtle?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Robert Murray</a> on <a href="https://unsplash.com/s/photos/sunny?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a></p>


    <h2 class="mt-12">Development</h2>
    <p>Application developed by <a href="https://macleodsawyer.com/">t. Macleod Sawyer</a> for the FordConnect Hackathon 2021</p>


</div>

<style>

    .page {
        color: #fff;
        @apply m-8 my-6;
    }

    h2 {
        @apply text-3xl
    }
    p {
        margin: 15px 0;
    }

    a {
        color: #fff;
        font-weight: 700;
    }
</style>