<div class="m-8 text-white">
    <div class="section-title">
        Privacy Policy
    </div>
    <hr class="my-3 mb-6 border-white border-opacity-25">

    <p>This is where the Privacy Policy would go.</p>
</div>