<div class="m-8 text-white">
    <div class="section-title">
        Terms of Service
    </div>
    <hr class="my-3 mb-6 border-white border-opacity-25">

    <p>This is where the Terms of Service would go.</p>
</div>