<script>
    import {url} from '@roxi/routify';
</script>
<div class="mx-5">
    <div class="!mt-0 text-white">
        <div class="section-title">
            <a href={$url('./index')}>Account</a>
        </div>
        <hr class="my-3 mb-6 border-white border-opacity-25">
        <slot></slot>
    </div>

    <div class="panel block">
        <span>This is where your account section would be</span>
    </div>
    <div class="panel block">
        <span>Different settings would flourish here</span>
    </div>
    <div class="panel block">
        <span>Add vehicles, remove vehicles, check insurance</span>
    </div>
    <div class="panel block">
        <span>Customer support numbers as well, or chats.</span>
    </div>
</div>
<style>
    .panel {
        @apply mb-4;
    }
</style>